:root {
  --color1: #016fb9;
  --color2: #d77a61;
  --color3: #d8b4a0;
  --color4: #dbd3d8;
  --color5: #eff1f3;
}

* {
  padding: 0rem;
  margin: 0rem;
}

.link {
  text-decoration: none;
  color: var(--color1);
  font-weight: bold;
}

.link:hover {
  opacity: 0.9;
}

.link:active {
  opacity: 0.7;
}

body {
  background-color: var(--color2);
  touch-action: pan-y;
}

.groupers {
  max-width: 39.5rem;
  height: 100vh;
  margin: auto;
  padding: 0.625rem;
  user-select: none;
  cursor: default;
}

.title {
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  border-bottom: 0.0625rem solid var(--color3);
  padding: 0.625rem;
}

.subtitle {
  opacity: 0.9;
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

.text {
  font-size: 1em;
  margin-bottom: 0.625rem;
}

.btn {
  border: none;
  border: 2px solid var(--color5);
  border-radius: 5px;
  color: var(--color1);
  cursor: pointer;
  background: none;
  font-size: 1.5625rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.7;
}
