.main {
  padding: 30px 0px 30px 0px;
}

.estrategias h3 {
  margin-bottom: 30px;
}

.estrategias h3 a {
  color: var(--color4);
}

.main section {
  border: 2px solid var(--color5);
  color: var(--color4);
  border-radius: 5px;
  padding: 30px;
}
