.footer {
  display: grid;
  align-content: center;
  justify-content: center;

  border: 2px solid var(--color5);
  color: var(--color4);
  border-radius: 5px;
  height: 100px;
  margin-bottom: 10px;
}

.footer a {
  color: var(--color4);
}
