.header {
  border: 2px solid var(--color5);
  color: var(--color4);
  border-radius: 5px;
  display: grid;
  gap: 10px;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  min-height: 200px;
}

.header a {
  color: var(--color4);
}
