.navbar {
  border: 2px solid var(--color5);
  color: var(--color2);
  border-radius: 5px;
  height: 100px;
  display: grid;
  align-items: center;
  margin-top: 30px;
}

.navbar ul {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  font-weight: bold;
  text-decoration: none;
  color: var(--color2);
}

.active {
  text-decoration: underline;
}
