.main {
  padding: 1.875rem 0rem 1.875rem 0rem;
  display: grid;
  gap: 20px;
}

.main h3 {
  margin-bottom: 1.875rem;
  border: none;
}

.main a {
  color: var(--color5);
}

.results {
  display: grid;
  gap: 1.25rem;
}

.main button {
  padding: 30px;
}
