.form {
  display: grid;
  gap: 10px;
  padding: 30px;
  grid-auto-columns: auto;
  background-color: var(--color5);
  color: var(--color1);
  border-radius: 5px;
}

.form label {
  font-weight: bold;
}

.form input {
  outline: unset;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: var(--color1);
}

.form textarea {
  outline: unset;
  border: none;
  color: var(--color1);
  border-radius: 5px;
  padding: 10px;
  min-height: 50px;
}

.tiempo_input {
  width: 50px;
}

.bloque_select {
  padding: 10px;
  width: 80px;
  border: none;
  border-radius: 5px;
  color: var(--color1);
}

.btn {
  margin-top: 20px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: var(--color2);
  color: var(--color5);
  font-weight: bold;
}
