.main {
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 5px;
  min-height: 70vh;
  border-radius: 5px;
  background-color: var(--color4);
  color: var(--color1);
}

.main p {
  opacity: 0.8;
}
